<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Nodejs and Mongodb!
    </h1>
    <p class="lead">
        This is a simple notes app made with Nodejs, Express, Mongodb and Handlebars
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus delectus officia ut error alias, voluptates corporis impedit facere?</p>
    <a href="/" class="btn btn-lg btn-primary" role="button">Ricardo Fuentes</a>
</div>